
<header class="">
<div class="container special-padding" *ngIf="verifyIsLoggedIn()">
    <a [routerLink]="['/instagamer/home']" class="logo pull-left">
       <img src="/assets/ico/android-icon-48x48.png" class="logo-text hidden-xs"/> 
    </a>
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/instagamer/profile', page]">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/instagamer/posts', page]">My Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" *ngIf="verifyIsLoggedIn()" routerLink="/instagamer/login" >Logout</a>
      </li>
    </ul>
</div>
</header>