<!-- <div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container navbar">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/ico/android-icon-48x48.png" />
      </a>
    </div> 
  </nav>
  <div class="menu">
    <a class="navbar-brand" routerLink="">
       <img src="/assets/ico/android-icon-48x48.png" /> 
    </a>
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/instagamer/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/instagamer/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/instagamer/login">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/instagamer/posts">Posts</a>
      </li>
    </ul>
  </div>
</div> -->