<h1>Pagina HOME</h1>

<div class="menu">
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/instagamer/profile">PERFIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/instagamer/posts">POSTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLinkActive="active" routerLink="/instagamer/login">LOGOUT</a>
      </li>
    </ul>
</div>