
<!-- <a [routerLink]="['/instagamer/profile', page]"><h1>Pagina HOME</h1></a> -->


<div class="col-sm-6 offset-sm-3">
<!-- Card -->
<div class="card promoting-card">

  <!-- Card content -->
  <div class="card-body d-flex flex-row">

    <!-- Avatar -->
    <img src="//www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?r=pg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

    <!-- Content -->
    <div>

      <!-- Title -->
      <h4 class="card-title font-weight-bold mb-2">New spicy meals</h4>
      <!-- Subtitle -->
      <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>

    </div>

  </div>

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight">uuuuuuuuuu</div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <div class="collapse-content">

      <!-- Text -->
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
      <!-- COMMENTS -->
      <p>Comment</p>
        <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
          <div class="form-group">
            <textarea name="text" class="form-control"  class="comments"></textarea>
            <input type="submit" value="comments" formControlName="comments" class="btn btn-outline-success btn-sm" ngModel>
      <!-- Button --> 
          </div>
      <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
      <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
      <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
    </form>
    </div>

  </div>

</div>
<!-- Card -->
</div>