    .vertical-align { margin-top:130px; }
    
    .login-container { background: #fff; border:1px solid #e6e6e6; margin-top: 66px; padding:30px; box-sizing: border-box;align-items: center;}
    .login-container:nth-child(2) { margin-top: 20px;}
    .box {
         width: 300px;
         height: 300px;
          background: #fff;}
    
    .logolink { float: none; margin:0 auto 15px; text-align: center; display:block;}
    .description-page {margin-bottom: 30px;}
    
    .bg-danger p:not(:empty) { padding:10px;}
    
    .btn { text-align: center; width: 100%;}
    
    @media (max-width: 1024px) {
        .animation img:first-child { right:13.6%; width:53%; }
        .vertical-align { margin-top:35px; }
    }