<!-- <div class="container" onload="" class="clearfix" ng-app>
  <div class="col-md-12 center-block vertical-align">
    <div class="row">
      <!-- <div class="col-md-7 hidden-sm hidden-xs">
        <div class="row">
          <div class="animation ">
            <img src="../../../assets/img/login/animation.gif" alt="screen animation" class="animation-gif img-responsive">
            <img src="../../../assets/img/login/celphone.png" alt="Iphones" class="img-responsive">
          </div>
        </div>
      </div> --> -->
      <!-- <div class="container">
      <div class="col-md-6 col-sm-6 col-xs-12"> -->
        <div class="login-container clearfix ">
          <a href="/" class="logolink">
            <img src="../../../assets/img/logotext.svg" width="150">
          </a>
          <p class="text-center description-page">Welcome to instagram clone!<br>Please insert your data to login:</p>
          <div class="bg-danger">
            <p id="error"></p>
          </div>
          
          <form #f="ngForm" (submit)="submit(f.value)"  id="form" data-location="posts" data-formtype="login">
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Email" ngModel>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" ngModel>
            </div>
            <button class="btn btn-blue" type="submit">Login</button>
            <hr>
            <a class="btn btn-default" href="passwordreset">Forgot password</a>
          </form>
        <!-- </div> -->
        <a href="/instagamer/register" class="login-container col-md-12 pull-left">Don't have account? Join here.</a>
      </div>
    <!-- </div> -->
    <!-- </div>
  </div>
</div> -->



<!-- ##################################

<form #f="ngForm" (submit)="submit(f.value)">
    <input type="text" placeholder="email" name="email" ngModel>
    <input type="password" placeholder="password" name="password" ngModel>
    <button type="submit">Login</button>
  </form>

  <button (click)="logout()">Logout</button> -->